@media (min-width:320px) and (max-width:575px) {

    header {
        padding-bottom: 165px;
    }

    header p {
        text-align: center;
        margin-bottom: 0;
    }

    header .button {
        text-align: center;
    }

    header .button a {
        margin-bottom: 10px;
        font-size: 14px;
        padding: 12px 8px;
        padding-top: 8px;
    }

    nav h2 {
        font-size: 40px;
    }

    nav ul .head .head2 {
        padding: 10px 0 !important;
    }

    nav ul li .dropdown {
        top: 13px;
        left: 90px;
        width: 178px;
    }

    nav .box .search {
        top: 38px;
        left: 0;
    }

    nav .box .search input {
        padding: 10px 10px;
    }

    #banner-part .banner {
        height: 350px;
    }

    #banner-part .banner h2 {
        font-size: 31px;
        line-height: 41px;
        font-weight: 900;
        width: auto;
        top: 50px;
        left: 0;
    }

    @keyframes top {
        from {
            top: 25px;
        }

        to {
            top: 50px;
        }
    }

    #banner-part .banner p {
        line-height: 27px;
        width: auto;
        top: 145px;
    }

    @keyframes bottom {
        from {
            left: 10px;
        }

        to {
            left: 0;
        }
    }

    #banner-part .banner a {
        padding: 10px 15px;
        top: 258px;
    }

    @keyframes left {
        from {
            top: 273px;
        }

        to {
            top: 258px;
        }
    }

    .next {
        width: 40px;
        height: 40px;
        line-height: 40px;
        top: 50%;
    }

    #banner-part .prev {
        width: 40px;
        height: 40px;
        line-height: 40px;
        top: 50%;
    }

    #award-part {
        margin-bottom: 0;
    }

    #award-part .left {
        padding: 15px 0;
    }

    #award-part .left p {
        text-align: center;
        padding-left: 0;
    }

    #award-part .left p::after {
        bottom: -3px;
        left: 16px;
    }

    #award-part .left h2 {
        font-size: 24px;
        line-height: 33px;
        width: auto;
    }

    #award-part .right {
        padding-top: 0;
    }

    #award-part .right p {
        font-size: 14px;
        line-height: 25px;
        padding-left: 0;
    }

    #award-part .right p::after {
        display: none;
    }

    #delivery-part .item {
        padding: 20px 20px;
        margin-bottom: 15px;
    }

    #delivery-part .space {
        margin-bottom: 235px;
    }

    #tilt {
        width: 296px;
        height: 256px;
        border-radius: 10px;
    }

    #trasted-part .left .hover2 {
        display: none;
    }

    #trasted-part .left img {
        width: 296px;
        height: 380px;
        margin-top: -40px;
    }

    #trasted-part .box {
        bottom: 0;
        left: 0;
        padding: 0 0;
        text-align: center;
    }

    #trasted-part .box h2 {
        font-size: 50px;
        padding-top: 10px;
    }

    #trasted-part .box p {
        padding-right: 10px;
        padding-bottom: 10px;
        font-size: 20px;
    }

    #trasted-part {
        margin-bottom: 0;
    }

    #trasted-part .right .top {
        padding-left: 0;
        text-align: center;
        margin-bottom: 0;
    }

    #trasted-part .right h2 {
        font-size: 30px;
        margin-top: 10px;
        width: auto;
        padding-bottom: 10px;
        line-height: 40px;
    }

    #trasted-part .right ul li {
        text-align: left;
        margin-right: 0;
        font-size: 14px;
        padding-left: 25px;
    }

    #trasted-part .right .bottom {
        padding: 10px 0;
        padding-right: 0;
    }

    #trasted-part .right .read {
        padding: 10px 15px;
        border-radius: 5px;
    }

    #service-part {
        margin-top: 40px;
        margin-bottom: 1107px;
    }

    #service-part .service-part {
        padding-bottom: 0;
    }

    #service-part .service-part {
        padding-top: 20px;
    }

    #service-part .left {
        text-align: center;
        padding-right: 0px;
    }

    #service-part .left h2 {
        font-size: 29px;
        padding-top: 5px;
        text-align: center;
    }

    #service-part .right p {
        line-height: 23.8px;
        padding-left: 0;
        text-align: center;
        margin-bottom: 15px;
        padding-top: 5px;
    }

    #service-part .main {
        flex-direction: column;
    }

    #service-part .main .item {
        width: 100%;
        margin: 15px 0;
    }

    #service-part .contain .box {
        top: 101%;
    }

    #service-part .main .item .content h3 {
        padding-top: 15px;
        padding-bottom: 5px;
        font-size: 35px;
    }

    #service-part .main .item .content {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    #service-part .main .item .content a {
        padding: 15px 0;
    }

    #request-part .request .request-form {
        position: static;
    }

    #request-part .heading p {
        padding-top: 200px;
        padding-bottom: 5px;
    }

    #request-part .request .person1 {
        display: none;
    }

    #request-part .request {
        padding: 20px 0;
    }

    #request-part .request .request-form h2 {
        font-size: 24px;
        padding-bottom: 15px;
    }

    #request-part .request .request-form .box i {
        right: 5px;
    }

    #request-part .request .request-form form input {
        padding: 10px 20px;
    }

    #request-part .request .request-form select {
        padding: 15px 10px;
    }

    #request-part .request .request-form button {
        padding: 10PX 15PX;
        margin-bottom: 0;
    }

    #team-part {
        margin-bottom: 30px;
    }

    #team-part .left {
        text-align: center;
        padding-right: 0;
        padding-bottom: 0;
        margin-top: 15px;
    }

    #team-part .left h2 {
        font-size: 35px;
        padding-top: 0;
    }

    #team-part .right {
        margin-top: 10px;
    }

    #team-part .right p {
        line-height: 24.8px;
        text-align: center;
        padding-left: 0;
        padding-bottom: 15px;
    }

    .team {
        margin-bottom: 30px;
    }

    #team-part .team .text {
        padding: 15px 0;
    }

    #client-part .client-slider {
        padding: 30px 0;
    }

    #Checkout-part .text {
        padding-top: 15px;
        padding-bottom: 0px;
        text-align: center;
    }

    #Checkout-part .text p {
        padding-left: 0;
    }

    #Checkout-part .text p::after {
        bottom: -2px;
        left: 73px;
    }

    #Checkout-part .text h2 {
        font-size: 31px;
        margin-top: 10px;
        width: auto;
        padding-bottom: 15px;
        line-height: 40px;
    }

    #Checkout-part .Checkout-slider .Checkout:hover .text {
        left: 0;
        bottom: 30px;
    }

    #Checkout-part .Checkout-slider .Checkout .text h3 {
        font-size: 31px;
    }

    #testimonial-part {
        padding-bottom: 40px;
    }

    #testimonial-part .text {
        padding: 20px 0;
    }

    #testimonial-part .text p {
        margin-bottom: 5px;
    }

    #testimonial-part .text h2 {
        font-size: 24px;
        line-height: 35px;
        padding: 0;
    }

    #testimonial-part:hover .prev {
        left: 5px;
    }

    #testimonial-part:hover .next {
        right: 5px;
    }

    #testimonial-part .second-p {
        padding: 0 0px;
        padding-bottom: 20px;
        line-height: 24px;
        padding-top: 10px;
    }

    #testimonial-part .star {
        padding-top: 10px;
    }

    #testimonial-part .text2 h4 {
        padding-top: 0;
    }

    #testimonial-part .item .icon {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
    }

    #choose-part .overlay .person {
        display: none;
    }

    #choose-part {
        margin-bottom: 30px;
    }

    #choose-part .right {
        padding-top: 0;
        padding-bottom: 70px;
        text-align: center;
    }

    #choose-part .overlay {
        padding-top: 30px;
    }

    #choose-part .right h6 {
        padding-left: 0;
    }

    #choose-part .right h6::after {
        bottom: -8px;
        left: 88px;
    }

    #choose-part .right h2 {
        font-size: 27px;
        line-height: 35px;
        padding-top: 10px;
        padding-bottom: 5px;
        width: auto;
    }

    #choose-part .right .pera p {
        font-size: 14px;
        margin-bottom: 0px;
        width: auto;
    }

    .waves {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 70px;
        left: -60px;
    }

    #choose-part i {
        width: 60px;
        height: 60px;
        line-height: 60px;
        top: 90px;
        left: -40px;
        font-size: 20px;
    }

    #news-part {
        margin-bottom: 30px;
    }

    #news-part .left h6 {
        padding-left: 0;
        text-align: center;
    }

    #news-part .left h6::after {
        bottom: -5px;
        left: 62px;
    }

    #news-part .left h2 {
        font-size: 30px;
        line-height: 40px;
        padding-top: 10px;
        padding-bottom: 0;
        width: auto;
    }

    #news-part .right a {
        padding: 10px 15px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 100px;
    }

    #news-part .item {
        width: 100%;
    }

    #news-part .text a {
        font-size: 20px;
        margin: 0;
        padding-right: 0;
        text-align: center;
        margin: 15px 0;
    }

    #news-part .main {
        margin: 0px 0;
        padding: 10px 0;
        margin-left: 5px;
    }

    #news-part .right2 {
        padding-left: 40px;
        padding-top: 11px;
    }

    footer {
        padding-top: 20px;
    }

    footer .item h2 {
        font-size: 40px;
        text-align: center;
    }

    footer .item .text {
        text-align: center;
    }

    footer .item .icon {
        left: 60px;
    }

    footer .item2 .bottom a {
        padding-left: 20px;
    }

    .botton-icon {
        text-align: center;
    }

    footer .item3 {
        margin-top: 25px;
        text-align: center;
    }

    footer .item3 h4::after {
        left: 99px;
        bottom: -10px;
    }

    footer .item3 p {
        line-height: 24PX;
        margin-bottom: 0;
        padding: 0;
        padding: 15px 0;
    }

    footer .footer-img {
        display: none;
    }

    footer .item3 form input {
        padding: 7px;
        width: 192px;
    }

    footer .item3 form button {
        padding: 10px 5px;
        margin-top: 5px;
        margin-left: 0;
    }

    footer .copy {
        margin-top: 25px;
    }

    footer .copy p {
        padding: 15px 0;
        font-size: 14px;
    }

    footer .lllllllllll {
        display: none;
    }

    .video-main2 i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }

    .waves2 {
        width: 80px;
        height: 80px;
    }


    /* ============================== */
}


/*========================576-767======================= */

@media (min-width:576px) and (max-width:767px) {

    header {
        padding-bottom: 165px;
    }

    header p {
        text-align: center;
        margin-bottom: 0;
    }

    header .button {
        text-align: center;
    }

    header .button a {
        margin-bottom: 10px;
        font-size: 14px;
        padding: 12px 8px;
        padding-top: 8px;
    }

    nav h2 {
        font-size: 40px;
    }

    nav ul .head .head2 {
        padding: 10px 0 !important;
    }

    nav ul li .dropdown {
        top: 13px;
        left: 90px;
        width: 178px;
    }

    nav .box .search {
        top: 38px;
        left: 0;
    }

    nav .box .search input {
        padding: 10px 10px;
    }

    #banner-part .banner {
        height: 350px;
    }

    #banner-part .banner h2 {
        font-size: 27px;
        line-height: 0px;
        font-weight: 900;
        width: auto;
        top: 110px;
        left: 0;
    }

    @keyframes top {
        from {
            top: 75px;
        }

        to {
            top: 110px;
        }
    }

    #banner-part .banner p {
        line-height: 27px;
        width: auto;
        top: 145px;
    }

    @keyframes bottom {
        from {
            left: 10px;
        }

        to {
            left: 0;
        }
    }

    #banner-part .banner a {
        padding: 10px 15px;
        top: 225px;
        margin-left: 180px;
    }

    @keyframes left {
        from {
            top: 273px;
        }

        to {
            top: 225px;
        }
    }

    .next {
        width: 40px;
        height: 40px;
        line-height: 40px;
        top: 50%;
    }

    #banner-part .prev {
        width: 40px;
        height: 40px;
        line-height: 40px;
        top: 50%;
    }

    #award-part {
        margin-bottom: 0;
    }

    #award-part .left {
        padding: 15px 0;
    }

    #award-part .left p {
        text-align: center;
        padding-left: 0;
    }

    #award-part .left p::after {
        bottom: -3px;
        left: 125px;
    }

    #award-part .left h2 {
        font-size: 28px;
        line-height: 33px;
        width: auto;
        text-align: center;
    }

    #award-part .right {
        padding-top: 0;
    }

    #award-part .right p {
        font-size: 14px;
        line-height: 25px;
        padding-left: 0;
        text-align: center;
    }

    #award-part .right p::after {
        display: none;
    }

    #delivery-part .item {
        padding: 20px 20px;
        margin-bottom: 15px;
    }

    #delivery-part .space {
        margin-bottom: 235px;
    }

    #delivery-part .gari {
        top: 360px;
        opacity: 0.6;
    }

    #tilt {
        width: 296px;
        height: 256px;
        border-radius: 10px;
        left: 44%;
    }

    #trasted-part .left img {
        width: 100%;
        height: 457px;
        margin-top: -40px;
    }

    #trasted-part .left .hover2 {
        top: 72px;
        left: 0;
        width: 210px;
        height: 323px;
    }

    #trasted-part .box {
        bottom: 0;
        right: 0;
        padding: 0 0;
        text-align: center;
    }

    #trasted-part .box h2 {
        font-size: 50px;
        padding-top: 10px;
    }

    #trasted-part .box p {
        padding-right: 10px;
        padding-bottom: 10px;
        font-size: 20px;
    }

    #trasted-part {
        margin-bottom: 0;
    }

    #trasted-part .right .top {
        padding-left: 0;
        text-align: center;
        margin-bottom: 0;
    }

    #trasted-part .right h2 {
        font-size: 30px;
        margin-top: 10px;
        width: auto;
        padding-bottom: 10px;
        line-height: 40px;
    }

    #trasted-part .right ul li {
        text-align: left;
        margin-right: 0;
        font-size: 14px;
        padding-left: 25px;
    }

    #trasted-part .right .bottom {
        padding: 10px 0;
        padding-right: 0;
    }

    #trasted-part .right .read {
        padding: 10px 15px;
        border-radius: 5px;
    }

    #service-part {
        margin-top: 40px;
        margin-bottom: 1474px;
    }

    #service-part .service-part {
        padding-bottom: 0;
    }

    #service-part .service-part {
        padding-top: 20px;
    }

    #service-part .left {
        text-align: center;
        padding-right: 0px;
    }

    #service-part .left h2 {
        font-size: 29px;
        padding-top: 5px;
        text-align: center;
    }

    #service-part .right p {
        line-height: 23.8px;
        padding-left: 0;
        text-align: center;
        margin-bottom: 15px;
        padding-top: 5px;
    }

    #service-part .main {
        flex-direction: column;
    }

    #service-part .main .item {
        width: 100%;
        margin: 15px 0;
    }

    #service-part .contain .box {
        top: 101%;
    }

    #service-part .main .item .content h3 {
        padding-top: 15px;
        padding-bottom: 5px;
        font-size: 35px;
    }

    #service-part .main .item .content {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    #service-part .main .item .content a {
        padding: 15px 0;
    }

    #request-part .request .request-form {
        position: static;
    }

    #request-part .heading p {
        padding-top: 200px;
        padding-bottom: 5px;
    }

    #request-part .request .person1 {
        display: none;
    }

    #request-part .request {
        padding: 20px 0;
    }

    #request-part .request .request-form h2 {
        font-size: 24px;
        padding-bottom: 15px;
    }

    #request-part .request .request-form .box i {
        right: 5px;
    }

    #request-part .request .request-form form input {
        padding: 10px 20px;
    }

    #request-part .request .request-form select {
        padding: 15px 10px;
    }

    #request-part .request .request-form button {
        padding: 10PX 15PX;
        margin-bottom: 0;
    }

    #team-part {
        margin-bottom: 30px;
    }

    #team-part .left {
        text-align: center;
        padding-right: 0;
        padding-bottom: 0;
        margin-top: 15px;
    }

    #team-part .left h2 {
        font-size: 35px;
        padding-top: 0;
    }

    #team-part .right {
        margin-top: 10px;
    }

    #team-part .right p {
        line-height: 24.8px;
        text-align: center;
        padding-left: 0;
        padding-bottom: 15px;
    }

    .team {
        margin-bottom: 30px;
    }

    #team-part .team .text {
        padding: 15px 0;
    }

    #client-part .client-slider {
        padding: 30px 0;
    }

    #Checkout-part .text {
        padding-top: 15px;
        padding-bottom: 0px;
        text-align: center;
    }

    #Checkout-part .text p {
        padding-left: 0;
    }

    #Checkout-part .text p::after {
        bottom: -2px;
        left: 182px;
    }

    #Checkout-part .text h2 {
        font-size: 31px;
        margin-top: 10px;
        width: auto;
        padding-bottom: 15px;
        line-height: 40px;
    }

    #Checkout-part .Checkout-slider .Checkout:hover .text {
        left: 0;
        bottom: 30px;
    }

    #Checkout-part .Checkout-slider .Checkout .text h3 {
        font-size: 31px;
    }

    #Checkout-part .next1 {
        top: -67px;
        left: 104px;
    }

    #Checkout-part .prev1 {
        top: -67px;
    }

    #testimonial-part {
        padding-bottom: 40px;
    }

    #testimonial-part .text {
        padding: 20px 0;
    }

    #testimonial-part .text p {
        margin-bottom: 5px;
    }

    #testimonial-part .text h2 {
        font-size: 24px;
        line-height: 35px;
        padding: 0;
    }

    #testimonial-part:hover .prev {
        left: 5px;
    }

    #testimonial-part:hover .next {
        right: 5px;
    }

    #testimonial-part .second-p {
        padding: 0 0px;
        padding-bottom: 20px;
        line-height: 24px;
        padding-top: 10px;
    }

    #testimonial-part .star {
        padding-top: 10px;
    }

    #testimonial-part .text2 h4 {
        padding-top: 0;
    }

    #testimonial-part .item .icon {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
    }

    #choose-part .overlay .person {
        display: none;
    }

    #choose-part {
        margin-bottom: 30px;
    }

    #choose-part .right {
        padding-top: 0;
        padding-bottom: 70px;
        text-align: center;
    }

    #choose-part .right h6::after {
        bottom: -5px;
        left: 215px;
    }

    #choose-part .right h6 {
        padding-left: 0;
    }

    #choose-part .right h6::after {
        bottom: -8px;
        left: 216px;
    }

    #choose-part .right h2 {
        font-size: 27px;
        line-height: 35px;
        padding-top: 10px;
        padding-bottom: 5px;
        width: auto;
    }

    #choose-part .right .pera p {
        font-size: 14px;
        margin-bottom: 0px;
        width: auto;
    }

    .waves {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 70px;
        left: -60px;
    }

    #choose-part i {
        width: 60px;
        height: 60px;
        line-height: 60px;
        top: 90px;
        left: -40px;
        font-size: 20px;
    }

    #news-part {
        margin-bottom: 30px;
    }

    #news-part .left h6 {
        padding-left: 0;
        text-align: center;
    }

    #news-part .left h6::after {
        bottom: -5px;
        left: 172px;
    }

    #news-part .left h2 {
        font-size: 28px;
        line-height: 40px;
        padding-top: 10px;
        padding-bottom: 0;
        width: auto;
    }

    #news-part .right a {
        padding: 10px 15px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 221px;
    }

    #news-part .item {
        width: 100%;
    }

    #news-part .text a {
        font-size: 20px;
        margin: 0;
        padding-right: 0;
        text-align: center;
        margin: 15px 0;
    }

    #news-part .main {
        margin: 0px 0;
        padding: 10px 0;
        margin-left: 5px;
    }

    #news-part .right2 {
        padding-left: 254px;
        padding-top: 11px;
    }

    footer {
        padding-top: 20px;
    }

    footer .item h2 {
        font-size: 40px;
        text-align: center;
    }

    footer .item .text {
        text-align: center;
    }

    footer .item .icon {
        left: 162px;
    }

    footer .item2 .bottom a {
        padding-left: 20px;
    }

    .botton-icon {
        text-align: center;
    }

    footer .item3 {
        margin-top: 25px;
        text-align: center;
    }

    footer .item3 h4::after {
        left: 211px;
        bottom: -10px;
    }

    footer .item3 p {
        line-height: 24PX;
        margin-bottom: 0;
        padding: 0;
        padding: 15px 0;
    }

    footer .footer-img {
        display: none;
    }

    footer .item3 form input {
        padding: 10px;
        width: 350px;
    }

    footer .item3 form button {
        padding: 14px 20px;
        margin-top: 5px;
        margin-left: 0;
    }

    footer .copy {
        margin-top: 25px;
    }

    footer .copy p {
        padding: 15px 0;
        font-size: 17px;
    }

    footer .lllllllllll {
        display: none;
    }

    .video-main2 i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }

    .waves2 {
        width: 80px;
        height: 80px;
    }

    #trasted-part .right .top::after {
        bottom: -4px;
        left: 174px;
    }

    #trasted-part .right h2 {
        font-size: 26px;
    }


    /* ============================== */
}


/*========================768-991======================= */

@media (min-width:768px) and (max-width:991px) {

    header {
        padding-bottom: 50px;
    }

    header p {
        text-align: left;
        margin-bottom: 0;
    }

    header .button {
        text-align: left;
        margin-left: 25px;
    }

    header .button a {
        margin-bottom: 10px;
        font-size: 14px;
        padding: 12px 8px;
        padding-top: 8px;
    }

    nav h2 {
        font-size: 40px;
    }

    nav ul .head .head2 {
        padding: 10px 0 !important;
    }

    nav ul li .dropdown {
        top: 13px;
        left: 90px;
        width: 178px;
    }

    nav .box .search {
        top: 38px;
        left: 0;
    }

    nav .box .search input {
        padding: 10px 10px;
    }

    #banner-part .banner {
        height: 350px;
    }

    #banner-part .banner h2 {
        font-size: 51px;
        line-height: 48px;
        font-weight: 900;
        width: auto;
        top: 45px;
        left: 0;
    }

    @keyframes top {
        from {
            top: 0;
        }

        to {
            top: 45px;
        }
    }

    #banner-part .banner p {
        line-height: 27px;
        width: auto;
        top: 172px;
        font-size: 25px;
    }

    @keyframes bottom {
        from {
            left: 10px;
        }

        to {
            left: 0;
        }
    }

    #banner-part .banner a {
        padding: 15px 20px;
        top: 260px;
        margin-left: 180px;
    }

    @keyframes left {
        from {
            top: 300px;
        }

        to {
            top: 260px;
        }
    }

    .next {
        width: 40px;
        height: 40px;
        line-height: 40px;
        top: 50%;
    }

    #banner-part .prev {
        width: 40px;
        height: 40px;
        line-height: 40px;
        top: 50%;
    }

    #award-part {
        margin-bottom: 0;
    }

    #award-part .left {
        padding: 15px 0;
    }

    #award-part .left p {
        text-align: center;
        padding-left: 0;
    }

    #award-part .left p::after {
        bottom: -3px;
        left: 31%;
    }

    #award-part .left h2 {
        font-size: 35px;
        line-height: 33px;
        width: auto;
        text-align: center;
    }

    #award-part .right {
        padding-top: 0;
    }

    #award-part .right p {
        font-size: 21px;
        line-height: 25px;
        padding-left: 0;
        text-align: center;
        padding-bottom: 15px;
    }

    #award-part .right p::after {
        display: none;
    }

    #delivery-part .gari {
        top: 350px;
        left: 150px;
    }

    #delivery-part .item {
        padding: 20px 20px;
        margin-bottom: 15px;
    }

    #delivery-part .space {
        margin-bottom: 235px;
    }

    #tilt {
        width: 334px;
        height: 273px;
        border-radius: 10px;
        left: 19%;
        margin-left: 233px;
    }

    #trasted-part .left img {
        width: 100%;
        height: 457px;
        margin-top: -40px;
    }

    #trasted-part .left .hover2 {
        top: 72px;
        left: 0;
        width: 210px;
        height: 323px;
    }

    #trasted-part .box {
        bottom: 0;
        right: 0;
        padding: 0 0;
        text-align: center;
    }

    #trasted-part .box h2 {
        font-size: 50px;
        padding-top: 10px;
    }

    #trasted-part .box p {
        padding-right: 10px;
        padding-bottom: 10px;
        font-size: 20px;
    }

    #trasted-part {
        margin-bottom: 0;
    }

    #trasted-part .right .top {
        padding-left: 0;
        text-align: center;
        margin-bottom: 0;
    }

    #trasted-part .right h2 {
        font-size: 30px;
        margin-top: 10px;
        width: auto;
        padding-bottom: 10px;
        line-height: 40px;
    }

    #trasted-part .right ul li {
        text-align: left;
        margin-right: 0;
        font-size: 14px;
        padding-left: 25px;
    }

    #trasted-part .right .bottom {
        padding: 10px 0;
        padding-right: 0;
    }

    #trasted-part .right .read {
        padding: 15px 20px;
        border-radius: 5px;
    }

    #service-part {
        margin-top: 40px;
        margin-bottom: -177px;
    }

    #service-part .service-part {
        padding-bottom: 0;
    }

    #service-part .service-part {
        padding-top: 20px;
    }

    #service-part .left {
        text-align: center;
        padding-right: 0px;
    }

    #service-part .left h2 {
        font-size: 29px;
        padding-top: 5px;
        text-align: center;
    }

    #service-part .right p {
        line-height: 23.8px;
        padding-left: 0;
        text-align: center;
        margin-bottom: 15px;
        padding-top: 5px;
    }

    #service-part .main {
        flex-direction: column;
    }

    #service-part .main .item {
        width: 100%;
        margin: 15px 0;
    }

    #service-part .contain .box {
        top: 101%;
    }

    #service-part .main .item .content h3 {
        padding-top: 15px;
        padding-bottom: 5px;
        font-size: 30px;
    }

    #service-part .main .item .content {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    #service-part .main .item .content a {
        padding: 15px 0;
    }

    #request-part .request .request-form {
        position: static;
    }

    #request-part .heading p {
        padding-top: 200px;
        padding-bottom: 5px;
    }

    #request-part .request .person1 {
        display: none;
    }

    #request-part .request {
        padding: 20px 0;
    }

    #request-part .request .request-form h2 {
        font-size: 24px;
        padding-bottom: 15px;
    }

    #request-part .request .request-form .box i {
        right: 5px;
    }

    #request-part .request .request-form form input {
        padding: 10px 20px;
    }

    #request-part .request .request-form select {
        padding: 15px 10px;
    }

    #request-part .request .request-form button {
        padding: 15PX 20PX;
        margin-bottom: 0;
    }

    #team-part {
        margin-bottom: 30px;
    }

    #team-part .left {
        text-align: center;
        padding-right: 0;
        padding-bottom: 0;
        margin-top: 15px;
    }

    #team-part .left h2 {
        font-size: 35px;
        padding-top: 0;
    }

    #team-part .right {
        margin-top: 10px;
    }

    #team-part .right p {
        line-height: 24.8px;
        text-align: center;
        padding-left: 0;
        padding-bottom: 15px;
    }

    .team {
        margin-bottom: 30px;
    }

    #team-part .team .text {
        padding: 15px 0;
    }

    #team-part .team .images .icons i {
        padding: 10px;
    }

    #client-part .client-slider {
        padding: 30px 0;
    }

    #Checkout-part .text {
        padding-top: 15px;
        padding-bottom: 0px;
        text-align: center;
    }

    #Checkout-part .text p {
        padding-left: 0;
    }

    #Checkout-part .text p::after {
        bottom: -2px;
        left: 40%;
    }

    #Checkout-part .text h2 {
        font-size: 29px;
        margin-top: 6px;
        width: auto;
        padding-bottom: 10px;
        line-height: 40px;
    }

    #Checkout-part .Checkout-slider .Checkout:hover .text {
        left: 0;
        bottom: 30px;
    }

    #Checkout-part .Checkout-slider .Checkout .text h3 {
        font-size: 31px;
    }

    #Checkout-part .next1 {
        top: -90px;
        right: 15px;
    }

    #Checkout-part .prev1 {
        top: -90px;
        left: 15px;
    }

    #testimonial-part {
        padding-bottom: 40px;
    }

    #testimonial-part .text {
        padding: 20px 0;
    }

    #testimonial-part .text p {
        margin-bottom: 5px;
    }

    #testimonial-part .text h2 {
        font-size: 24px;
        line-height: 35px;
        padding: 0;
    }

    #testimonial-part:hover .prev {
        left: 5px;
    }

    #testimonial-part:hover .next {
        right: 5px;
    }

    #testimonial-part .second-p {
        padding: 0 0px;
        padding-bottom: 20px;
        line-height: 24px;
        padding-top: 10px;
    }

    #testimonial-part .star {
        padding-top: 10px;
    }

    #testimonial-part .text2 h4 {
        padding-top: 0;
    }

    #testimonial-part .item .icon {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
    }

    #choose-part .overlay .person {
        display: none;
    }

    #choose-part {
        margin-bottom: 30px;
    }

    #choose-part .right {
        padding-top: 0;
        padding-bottom: 70px;
        text-align: center;
    }

    #choose-part .right h6::after {
        bottom: -5px;
        left: 215px;
    }

    #choose-part .right h6 {
        padding-left: 0;
    }

    #choose-part .right h6::after {
        bottom: -8px;
        left: 216px;
    }

    #choose-part .right h2 {
        font-size: 27px;
        line-height: 35px;
        padding-top: 10px;
        padding-bottom: 5px;
        width: auto;
    }

    #choose-part .right .pera p {
        font-size: 14px;
        margin-bottom: 0px;
        width: auto;
    }

    .waves {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 70px;
        left: -60px;
    }

    #choose-part i {
        width: 60px;
        height: 60px;
        line-height: 60px;
        top: 90px;
        left: -40px;
        font-size: 20px;
    }

    #news-part {
        margin-bottom: 30px;
    }

    #news-part .left h6 {
        padding-left: 0;
        text-align: center;
    }

    #news-part .left h6::after {
        bottom: -5px;
        left: 38%;
    }

    #news-part .left h2 {
        font-size: 28px;
        line-height: 0px;
        padding-top: 20px;
        padding-bottom: 16px;
        width: auto;
        text-align: center;
    }

    #news-part .images .date {
        right: 10px;
        bottom: 20px;
    }

    #news-part .comment {
        display: flex;
    }

    #news-part .right2 span {
        font-size: 13px;
    }

    #news-part .left2 .author {
        margin-right: 3px;
    }

    #news-part .right a {
        padding: 15px 20px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 286px;
    }

    #news-part .item {
        width: 100%;
    }

    #news-part .text a {
        font-size: 16px;
        margin: 0;
        padding-right: 0;
        text-align: center;
        margin: 15px 0;
    }

    #news-part .main {
        margin: 0px 0;
        padding: 10px 0;
        margin-left: 5px;
    }

    #news-part .right2 {
        padding-left: 9px;
        padding-top: 12px;
    }

    footer {
        padding-top: 20px;
    }

    footer .item h2 {
        font-size: 40px;
        text-align: center;
    }

    footer .item .icon {
        left: 0;
    }

    footer .botton-icon a {
        margin-right: 8px;
    }

    footer .item2 .bottom a {
        padding-left: 20px;
    }

    .botton-icon {
        text-align: center;
    }

    footer .item3 {
        margin-top: 25px;
    }

    footer .item3 h4::after {
        left: 0;
        bottom: -10px;
    }

    footer .item3 p {
        line-height: 24PX;
        margin-bottom: 0;
        padding: 0;
        padding: 15px 0;
        width: 279px;
    }

    footer .item3 {
        display: flex;
    }

    footer .footer-img {
        display: none;
    }

    footer .item3 form {
        margin-top: 30px;
        margin-left: 10px;
    }

    footer .item3 form input {
        padding: 10px;
        width: 270px;
    }

    footer .item3 form button {
        padding: 14px 20px;
        margin-top: 5px;
        margin-left: 0;
    }

    footer .copy {
        margin-top: 25px;
    }

    footer .copy p {
        padding: 15px 0;
        font-size: 17px;
    }

    footer .lllllllllll {
        display: none;
    }

    .video-main2 i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }

    .waves2 {
        width: 80px;
        height: 80px;
    }

    #trasted-part .right .top::after {
        bottom: -4px;
        left: 38%;
    }

    #trasted-part .right h2 {
        font-size: 26px;
    }

    /* ========================== */

}

/* ===============================992 to 1199 */

@media (min-width:992px) and (max-width:1199px) {
    /* #award-part .left h2 {
        font-size: 35px;
    }

    #trasted-part .right .bottom {
        display: none;
    }

    #trasted-part .right h2 {
        line-height: 40px;
        width: auto;
    } */

/* ================================== */
}